<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Painel Administrativo - {% block title %} {% endblock %}</title>

        <link rel="icon" type="image/png" href="{{ base_url() }}/public/images/brand-controle/favicon.png">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="{{ base_url() }}/public/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ base_url() }}/public/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ base_url() }}/public/css/brand-controle/style.min.css">
        {% block css %} {% endblock %}
    </head>
    <body>
        <div class="full_width main_header main_header_dashboard">
            <div class="container">
                <header>
                    <div class="logo">
                        <img src="{{ base_url() }}/public/images/brand-controle/logo-small.png" alt="Logo Brand Controle">
                        <h1 class="font-zero">Brand Controle</h1>
                    </div>
                        
                    <div class="login_user">
                        <ul>
                            <li class="username">Olá, Bem vindo {{ user.NOME }}</li>
                            <li class="login"><a href="{{ path_for('login.singOut') }}" title="Sair">Sair</a></li>
                        </ul>
                    </div>    
                </header>
            </div>
        </div>

        <div class="clearfix"></div>
        
        <div class="nav_dashboard full_width" style="margin-bottom: 25px;">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <a href="#" class="menu_mobile_dashboard hidden-lg hidden-md hidden-sm"><i class="fa fa-bars"></i> Menu</a>
                        <ul class="main_nav_dashboard">
                            <li><a{% if seo.getPach()[2] == "cockpit" %} class="link_active"{% endif %} href="{{ path_for('dashboard.cockpit') }}">Cockpit</a></li>
                            <li><a{% if seo.getPach()[2] == "crm" %} class="link_active"{% endif %} href="{{ path_for('dashboard.crm') }}">CRM</a></li>
                            <li><a href="#">Gestão de Produtos</a></li>
                            <li><a href="#">Vendas Varejo</a></li>
                            <li><a href="#">Metas</a></li>
                            <li><a href="#">Regras de Negócio</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="clearfix"></div>

        <main class="full_width main_content_dashboard">
            <div class="container">
                {% include 'messages/flash-messages.twig' %}
                {% block content %} {% endblock %}
            </div>
        </main>

        <footer class="full_width main_footer">
            <div class="container">
                <div class="row">
                    <dib class="col-md-12">
                        <p>&copy; 2016 Brand Controle - Todos os direitos reservados.</p>
                    </dib>
                </div>
            </div>
        </footer>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.min.js"></script>    
        <script src="{{ base_url() }}/public/js/jquery.min.js"></script>
        <script src="{{ base_url() }}/public/js/bootstrap.min.js"></script>
        <script src="{{ base_url() }}/public/js/accounting.js"></script>
        <script src="{{ base_url() }}/public/js/jquery.mask.min.js"></script>
        <script src="{{ base_url() }}/public/js/brand-controle/script.min.js"></script>
        <script src="{{ base_url() }}/public/js/shoulder/shoulder.min.js"></script>
        {% block javascript %} {% endblock %}
    </body>
</html>